// format.wxs - WXS 格式化函数
var fen2yuan = function(fen) {
  return (fen / 100).toFixed(2)
}

var fen2yuanInt = function(fen) {
  return (fen / 100).toFixed(0)
}

var fen2yuan1 = function(fen) {
  return (fen / 100).toFixed(1)
}

var absFen2yuan = function(fen) {
  if (fen < 0) fen = -fen
  return (fen / 100).toFixed(2)
}

module.exports = {
  fen2yuan: fen2yuan,
  fen2yuanInt: fen2yuanInt,
  fen2yuan1: fen2yuan1,
  absFen2yuan: absFen2yuan
}
